@use "../../../../assets/scss/variables" as v;
@use "../../../../assets/scss/mixins" as m;

.forgot-password {
  @include m.flexbox($align-items: center, $justify-content: center);
  .row {
    width: 500px;
    height: 400px;
    background-color: v.$color9;
    padding: 5rem 2rem;

    @media (max-width: 700px) {
      width: 90%;
      height: auto;
      padding: 3rem 0.5rem;
    }
    @media (max-width: 480px) {
      padding: 2rem 0.5rem;
    }

    h3 {
      font-size: 2rem;
      text-align: center;
      font-weight: 600;
      color: v.$color3;
      margin-bottom: 1rem;
      margin-top: -1rem;
      @media (max-width: 700px) {
        font-size: 1.5rem;
        margin-top: 1rem;
      }
    }

    .input-group {
      position: relative;
      padding: 0.5rem;
      width: 95%;
      margin: 1rem auto;
      @media (max-width: 480px) {
        width: 100%;
        padding: 0.3rem;
      }

      input.form-control {
        background-color: v.$color8;
        padding: 8px 50px;
        border-radius: 5px !important;
        @media (max-width: 480px) {
          padding: 0.5rem 25px;
          font-size: 0.9rem;
        }
      }

      span.input-icon {
        position: absolute;
        font-size: 1.5rem;
        color: v.$color1;
        left: 25px;
        top: 10px;
        z-index: 999;
        @media (max-width: 480px) {
          font-size: 1rem;
          left: 10px;
          top: 10px;
        }
      }
    }

    .btn-forgot {
      margin: 0.5rem 8rem;
      border-radius: 3px;
      width: 40%;
      color: v.$color9;
      @media (max-width: 700px) {
        width: 40%;
        margin: 0.5rem 6rem;
        font-size: 1rem;
      }

      @media (max-width: 353px) {
        width: 50%;
        margin: 0.5rem 3rem;
        font-size: 1rem;
      }
    }

    .forgot-link {
      p {
        text-align: center;
        span {
          @media (max-width: 430px) {
            display: flex;
          }
          a {
            text-decoration: none;
            color: v.$color2;

            @media (max-width: 430px) {
              flex: 1;
            }
          }
        }
      }
      @media (max-width: 700px) {
        margin-top: 2rem;
      }
    }
  }
}
