@use "../../../../assets/scss/variables" as v;
@use "../../../../assets/scss/mixins" as m;

.user-all-info {
  margin-top: 3rem;

  .nav-tabs {
    margin-left: 2rem;
    border: none !important;

    @media (max-width: 1055px) {
      margin-left: 0.5;
    }

    @media (max-width: 518px) {
      margin-left: 0.2rem;
    }

    .nav-link {
      background-color: v.$color8 !important;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin-right: 5px !important;
      font-weight: 300;
      font-size: 0.9rem;
      padding: 0.5rem 3rem;
      border: none;

      @media (max-width: 1055px) {
        padding: 0.5rem 1.8rem;
      }

      @media (max-width: 618px) {
        padding: 0.5rem 1rem;
      }

      @media (max-width: 488px) {
        padding: 0.5rem 0.2rem;
      }

      @media (max-width: 395px) {
        // admin-manager template padding azalinca problem cozulecek
        padding: 0.5rem 0.2rem;
        font-size: 0.8rem;
      }
    }

    .active {
      background-color: v.$color7 !important;
      color: v.$color3 !important;
    }
  }

  .tab-content {
    height: 30vh;
    background-color: v.$color7 !important;
    border-radius: 5px;
    border: none;
  }
}
