@use "../../../../assets/scss/variables" as v;
@use "../../../../assets/scss/mixins" as m;

.reset-form {
  @include m.flexbox(
    $direction: column,
    $align-items: center,
    $justify-content: center
  );
  flex: 1 1 auto;

  .row {
    width: 520px;
    height: 570px;
    background-color: v.$color9;
    padding: 1rem;
    border-radius: 10px;

    @media (max-width: 700px) {
      width: 95%;
      height: auto;
    }

    @media (max-width: 576px) {
      width: 100%;
      height: auto;
    }

    form {
      margin: 0;
    }

    h3 {
      font-size: 2rem;
      text-align: center;
      font-weight: 600;
      color: v.$color3;
      margin-top: 1rem;

      @media (max-width: 700px) {
        font-size: 1.5rem;
        margin-top: 1rem;
      }
    }

    .input-group-first {
      position: relative;
      margin-left: 0.8rem;

      margin-top: 1rem !important;
      margin-bottom: 2rem !important;

      input.form-control {
        background-color: v.$color8;
        padding: 8px 50px;
        border-radius: 5px !important;
        width: 96%;

        @media (max-width: 455px) {
          font-size: 1rem;
          padding: 8px 40px;
          width: 94%;
        }
      }
      span.input-icon-first {
        position: absolute;
        font-size: 1.5rem;
        color: v.$color1;
        left: 15px;
        top: 3px;

        z-index: 999;
        @media (max-width: 700px) {
          left: 10px;
          top: 2px;
        }
      }
    }

    .input-group {
      position: relative;
      padding: 0.5rem;
      // margin: 0.5rem auto;

      input.form-control {
        background-color: v.$color8;
        padding: 8px 50px;
        border-radius: 5px !important;

        @media (max-width: 455px) {
          font-size: 1rem;
          padding: 8px 30px;
        }
        @media (max-width: 370px) {
          padding-right: 15px;
        }
      }

      span.input-icon {
        position: absolute;
        font-size: 1.5rem;
        color: v.$color1;
        left: 25px;
        top: 15px;
        z-index: 999;
        @media (max-width: 455px) {
          left: 20px;
          right: 10px;
        }
      }
    }
    .btn-reset {
      margin: 0.1rem 8rem;
      border-radius: 3px;
      width: 40%;
      // width: 60%;
      color: v.$color9;
      // margin: 0.5rem 3rem;
      @media (max-width: 465px) {
        width: 45%;
        margin: 1rem 5rem;
        padding: 0.5rem;
        font-size: 0.8rem;
      }
    }

    .reset-link {
      @media (max-width: 700px) {
        font-size: 0.9rem;
      }
      p {
        text-align: center;
        span {
          @media (max-width: 385px) {
            display: flex;
          }
          a {
            text-decoration: none;
            color: v.$color2;
            @media (max-width: 385px) {
              flex: 1;
            }
          }
        }
      }
    }
  }
}
